<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="kampukter.service">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme"
                 android:name=".ServiceApplication"
                 tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ServiceActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="ServiceActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity">
            </meta-data>
        </activity>
        <activity android:name=".ui.BarCodeReadActivity"
                  android:label="BarCodeReadActivity"
        >
        </activity>
        <activity android:name=".ui.ModelActivity"
                  android:label="ModelActivity">
        </activity>
        <activity android:name=".ui.AddNewModelActivity"
                  android:parentActivityName=".ui.ModelActivity"
                  android:label="Service Base">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.ModelActivity">
            </meta-data>
        </activity>
        <activity android:name=".ui.CustomerActivity"
                  android:label="CustomerActivity">
        </activity>
        <activity android:name=".ui.AddNewCustomerActivity"
                  android:parentActivityName=".ui.CustomerActivity"
                  android:label="Service Base">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.CustomerActivity">
            </meta-data>
        </activity>
        <activity android:name=".ui.RepairHistoryActivity"
                  android:label="RepairHistoryActivity"
                  android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity">
            </meta-data>
        </activity>
        <activity android:name=".ui.RepairEditActivity"
                  android:label="RepairEditActivity"
                  android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity">
            </meta-data>
        </activity>
    </application>
</manifest>
